<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chrono Charm</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Chrono Charm</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cart">Cart</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <h1 class="mt-5 mb-4">Welcome to Chrono Charm</h1>

    <div th:if="${message != null}" class="alert alert-success">
        <span th:text="${message}"></span>
    </div>

    <div class="row">
      <!-- Loop through products and generate cards -->
        <div class="col-md-4 mb-4" th:each="watch : ${watches}">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a th:href="@{/product/{id}(id=${watch.watchId})}" th:text="${watch.brand}">Product Title</a>
                    </h5>
                    <p class="card-text" th:text="${watch.model}">Description</p>
                    <p class="card-text" th:text="'Price: $' + ${watch.price}">Price</p>
                    <form th:action="@{/cart/add}" method="post">
                        <input type="hidden" name="productId" th:value="${watch.watchId}" />
                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
